@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   Steven Thompson & James Allen
   Date:    November 12, 2018
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/
            /* background styles */
    html{
        background: url("jb_back2.png") 100%/cover no-repeat;
    }
    
    body {
        background-color: white;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        float: none;
        position: relative;
        max-width: 800px;
        min-width: 600px;
        height: 100%;
        
    }
    
    body > header > img{
        width: 100%;
    }
    
            /* horizontal nav styles */
    
    body header nav#horizontal{
        display: block;
    }
    
    body header nav#horizontal li{
        width: 16.66%;
        float: left;
    }
    
    body aside#services{
        width: 20%;
        float: left;
        margin-right: 2%;
    }
    body section#description{
        width: 52%;
        float: left;
        margin-right: 2%;
        margin-left: 2%;
    }
    
    body aside#slang{
        width: 20%;
        float: right;
        margin-left: 2%;
    }
    
        /* Aside services styles */
            
    
    


